[Unit]
Description=Gunicorn instance for ait-backend
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/backend/backend
ExecStart=gunicorn -b localhost:5000 application:application
Restart=always
